<div class="footer">
    <p-toolbar styleClass="footer-toolbar">
        <div class="p-toolbar-group-start">
            <p-button icon="pi pi-plus" class="mr-2" label="Add Game" (onClick)="test()"/>
        </div>
        <div class="p-toolbar-group-center">
            <p-button icon="pi pi-download" class="mr-2" label="Manage Downloads"/>
        </div> 
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-users" class="mr-2" label="Friends & Chat"/>
        </div>
    </p-toolbar>
</div>
