<div class="layout">
  <app-header></app-header>
  <div class="content">
    <p>
      Rome (Italian and Latin: Roma, pronounced [ˈroːma] ⓘ) is the capital city
      of Italy. It is also the capital of the Lazio region, the centre of the
      Metropolitan City of Rome Capital, and a special comune (municipality)
      named Comune di Roma Capitale. With 2,860,009 residents in 1,285 km2
      (496.1 sq mi),[2] Rome is the country's most populated comune and the
      third most populous city in the European Union by population within city
      limits. The Metropolitan City of Rome, with a population of 4,355,725
      residents, is the most populous metropolitan city in Italy.[3] Its
      metropolitan area is the third-most populous within Italy.[5] Rome is
      located in the central-western portion of the Italian Peninsula, within
      Lazio (Latium), along the shores of the Tiber Valley. Vatican City (the
      smallest country in the world and headquarters of the worldwide Catholic
      Church under the governance of the Holy See)[6] is an independent country
      inside the city boundaries of Rome, the only existing example of a country
      within a city. Rome is often referred to as the City of Seven Hills due to
      its geographic location, and also as the "Eternal City". Rome is generally
      considered to be the cradle of Western civilization and Western Christian
      culture, and the centre of the Catholic Church.[7][8][9] Rome's history
      spans 28 centuries. While Roman mythology dates the founding of Rome at
      around 753 BC, the site has been inhabited for much longer, making it a
      major human settlement for over three millennia and one of the oldest
      continuously occupied cities in Europe.[10] The city's early population
      originated from a mix of Latins, Etruscans, and Sabines. Eventually, the
      city successively became the capital of the Roman Kingdom, the Roman
      Republic and the Roman Empire, and is regarded by many as the first-ever
      Imperial city and metropolis.[11] It was first called The Eternal City
      (Latin: Urbs Aeterna; Italian: La Città Eterna) by the Roman poet Tibullus
      in the 1st century BC, and the expression was also taken up by Ovid,
      Virgil, and Livy.[12][13] Rome is also called Caput Mundi (Capital of the
      World). After the fall of the Empire in the west, which marked the
      beginning of the Middle Ages, Rome slowly fell under the political control
      of the Papacy, and in the 8th century, it became the capital of the Papal
      States, which lasted until 1870. Beginning with the Renaissance, almost
      all popes since Nicholas V (1447–1455) pursued a coherent architectural
      and urban programme over four hundred years, aimed at making the city the
      artistic and cultural centre of the world.[14] In this way, Rome first
      became one of the major centres of the Renaissance[15] and then became the
      birthplace of both the Baroque style and Neoclassicism. Famous artists,
      painters, sculptors, and architects made Rome the centre of their
      activity, creating masterpieces throughout the city. In 1871, Rome became
      the capital of the Kingdom of Italy, which, in 1946, became the Italian
      Republic. In 2019, Rome was the 14th most visited city in the world, with
      8.6 million tourists, the third most visited city in the European Union,
      and the most popular tourist destination in Italy.[16] Its historic centre
      is listed by UNESCO as a World Heritage Site.[17] The host city for the
      1960 Summer Olympics, Rome is also the seat of several specialised
      agencies of the United Nations, such as the Food and Agriculture
      Organization (FAO), the World Food Programme (WFP), the International Fund
      for Agricultural Development (IFAD) and the UN System Network on Rural
      Development and Food Security. The city also hosts the European Union (EU)
      Delegation to the United Nations (UN) and the Secretariat of the
      Parliamentary Assembly of the Union for the Mediterranean[18] (UfM) as
      well as the headquarters of several Italian multinational companies, such
      as Eni, Enel, TIM, Leonardo, and banks such as BNL. Numerous companies are
      based within Rome's EUR business district, such as the luxury fashion
      house Fendi located in the Palazzo della Civiltà Italiana. The presence of
      renowned international brands in the city has made Rome an important
      centre of fashion and design, and the Cinecittà Studios have been the set
      of many Academy Award–winning movies.[19] Name and symbol Etymology
      According to the Ancient Romans' founding myth,[20] the name Roma came
      from the city's founder and first king, Romulus.[1] However, it is
      possible that the name Romulus was actually derived from Rome itself.[21]
      As early as the 4th century, there have been alternative theories proposed
      on the origin of the name Roma. Several hypotheses have been advanced
      focusing on its linguistic roots which however remain uncertain:[22] From
      Rumon or Rumen, archaic name of the Tiber, which in turn is supposedly
      related to the Greek verb ῥέω (rhéō) 'to flow, stream' and the Latin verb
      ruō 'to hurry, rush';[b] From the Etruscan word 𐌓𐌖𐌌𐌀 (ruma), whose root is
      *rum- "teat", with possible reference either to the totem wolf that
      adopted and suckled the cognately named twins Romulus and Remus, or to the
      shape of the Palatine and Aventine Hills; From the Greek word ῥώμη
      (rhṓmē), which means strength.[c] Other names and symbols Rome has also
      been called in ancient times simply "Urbs" (central city),[23] from urbs
      roma, or identified with its ancient Roman initialism of SPQR, the symbol
      of Rome's constituted republican government. Furthermore, Rome has been
      called Urbs Aeterna (The Eternal City), Caput Mundi (The Capital of the
      world), Throne of St. Peter and Roma Capitale. History Main article:
      History of Rome For a chronological guide, see Timeline of Rome. Earliest
      history Main article: Founding of Rome Model of archaic Rome. The image
      faces northeast, with the Capitoline hill on left and the Palatine on
      right. The city would not have looked like this prior to the seventh
      century BC. While there have been discoveries of archaeological evidence
      of human occupation of the Rome area from approximately 14,000 years ago,
      the dense layer of much younger debris obscures Palaeolithic and Neolithic
      sites.[10] Evidence of stone tools, pottery, and stone weapons attest to
      about 10,000 years of human presence. Several excavations support the view
      that Rome grew from pastoral settlements on the Palatine Hill built above
      the area of the future Roman Forum. Between the end of the Bronze Age and
      the beginning of the Iron Age, each hill between the sea and the
      Capitoline Hill was topped by a village (on the Capitoline, a village is
      attested since the end of the 14th century BC).[24] However, none of them
      yet had an urban quality.[24] Nowadays, there is a wide consensus that the
      city developed gradually through the aggregation ("synoecism") of several
      villages around the largest one, placed above the Palatine.[24] This
      aggregation was facilitated by the increase of agricultural productivity
      above the subsistence level, which also allowed the establishment of
      secondary and tertiary activities. These, in turn, boosted the development
      of trade with the Greek colonies of southern Italy (mainly Ischia and
      Cumae).[24] These developments, which according to archaeological evidence
      took place during the mid-eighth century BC, can be considered as the
      "birth" of the city.[24] Despite recent excavations at the Palatine hill,
      the view that Rome was founded deliberately in the middle of the eighth
      century BC, as the legend of Romulus suggests, remains a fringe
      hypothesis.[25] Legend of the founding of Rome Main articles: Romulus and
      Remus and Romulus Capitoline Wolf, a sculpture of the mythical she-wolf
      suckling the infant twins Romulus and Remus Traditional stories handed
      down by the ancient Romans themselves explain the earliest history of
      their city in terms of legend and myth. The most familiar of these myths,
      and perhaps the most famous of all Roman myths, is the story of Romulus
      and Remus, the twins who were suckled by a she-wolf.[20] They decided to
      build a city, but after an argument, Romulus killed his brother and the
      city took his name. According to the Roman annalists, this happened on 21
      April 753 BC.[26] This legend had to be reconciled with a dual tradition,
      set earlier in time, that had the Trojan refugee Aeneas escape to Italy
      and found the line of Romans through his son Iulus, the namesake of the
      Baths of Caracalla. The Villa Borghese garden is the best known large
      green space in Rome, with famous art galleries among its shaded walks.
      Overlooking Piazza del Popolo and the Spanish Steps are the gardens of
      Pincio and Villa Medici. There is also a notable pine wood at
      Castelfusano, near Ostia. Rome also has a number of regional parks of much
      more recent origin, including the Pineto Regional Park and the Appian Way
      Regional Park. There are also nature reserves at Marcigliana and at Tenuta
      di Castelporziano. Climate Main article: Climate of Rome Stone pines in
      the Villa Doria Pamphili Rome has a Mediterranean climate (Köppen climate
      classification: Csa),[76] with hot, dry summers and mild, humid winters.
      Its average annual temperature is above 21 °C (70 °F) during the day and 9
      °C (48 °F) at night. In the coldest month, January, the average
      temperature is 12.6 °C (54.7 °F) during the day and 2.1 °C (35.8 °F) at
      night. In the warmest month, August, the average temperature is 31.7 °C
      (89.1 °F) during the day and 17.3 °C (63.1 °F) at night. December, January
      and February are the coldest months, with a daily mean temperature of
      approximately 8 °C (46 °F). Temperatures during these months generally
      vary between 10 and 15 °C (50 and 59 °F) during the day and between 3 and
      5 °C (37 and 41 °F) at night, with colder or warmer spells occurring
      frequently. Snowfall is rare but not unheard of, with light snow or
      flurries occurring on some winters, generally without accumulation, and
      major snowfalls on a very rare occurrence (the most recent ones were in
      2018, 2012 and 1986).[77][78][79] The average relative humidity is 75%,
      varying from 72% in July to 77% in November. Sea temperatures vary from a
      low of 13.9 °C (57.0 °F) in February to a high of 25.0 °C (77.0 °F) in
      August.[80] The highest temperature ever recorded in Rome was 42.9 °C
      (109.2 °F) on 18 July 2023.[81] Climate data for Rome Ciampino Airport,
      elevation: 129 m or 423 ft, 1991-2020 normals, extremes 1944–present Month
      Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec Year Record high °C (°F)
      20.8 (69.4) 23.0 (73.4) 26.6 (79.9) 30.0 (86.0) 34.2 (93.6) 39.3 (102.7)
      39.7 (103.5) 40.6 (105.1) 40.0 (104.0) 32.0 (89.6) 26.1 (79.0) 21.2 (70.2)
      40.6 (105.1) Mean daily maximum °C (°F) 12.0 (53.6) 13.0 (55.4) 15.8
      (60.4) 18.8 (65.8) 22.3 (72.1) 28.1 (82.6) 31.0 (87.8) 31.6 (88.9) 26.7
      (80.1) 22.2 (72.0) 16.9 (62.4) 12.7 (54.9) 21.0 (69.8) Daily mean °C (°F)
      7.5 (45.5) 8.0 (46.4) 10.7 (51.3) 13.6 (56.5) 18.0 (64.4) 22.5 (72.5) 25.1
      (77.2) 25.4 (77.7) 21.0 (69.8) 17.0 (62.6) 12.4 (54.3) 8.5 (47.3) 15.8
      (60.4) Mean daily minimum °C (°F) 3.4 (38.1) 3.4 (38.1) 5.9 (42.6) 8.6
      (47.5) 12.6 (54.7) 16.7 (62.1) 19.3 (66.7) 19.8 (67.6) 16.0 (60.8) 12.4
      (54.3) 8.5 (47.3) 4.7 (40.5) 10.9 (51.6) Record low °C (°F) −11.0 (12.2)
      −6.9 (19.6) −6.5 (20.3) −2.4 (27.7) 1.8 (35.2) 5.6 (42.1) 9.1 (48.4) 9.3
      (48.7) 4.3 (39.7) 0.8 (33.4) −5.2 (22.6) −6.6 (20.1) −11.0 (12.2) Average
      precipitation mm (inches) 65.6 (2.58) 62.8 (2.47) 58.6 (2.31) 68.6 (2.70)
      56.9 (2.24) 30.1 (1.19) 19.8 (0.78) 30.2 (1.19) 64.9 (2.56) 88.1 (3.47)
      108.2 (4.26) 98.3 (3.87) 752.0 (29.61) Average precipitation days (≥ 1.0
      mm) 7.40 7.48 6.85 7.42 5.54 3.38 2.16 2.20 6.00 7.32 8.84 9.44 74.03
      Average relative humidity (%) 75.8 71.5 70.6 70.4 69.0 65.4 63.3 64.1 69.1
      74.0 77.9 77.2 70.7 Average dew point °C (°F) 3.9 (39.0) 3.5 (38.3) 5.8
      (42.4) 8.5 (47.3) 12.1 (53.8) 15.1 (59.2) 16.9 (62.4) 17.7 (63.9) 15.5
      (59.9) 12.9 (55.2) 9.3 (48.7) 5.2 (41.4) 10.5 (50.9) Mean monthly sunshine
      hours 155.9 171.9 203.1 221.1 276.5 298.8 337.6 320.2 237.9 200.6 153.3
      146.9 2,723.9 Percent possible sunshine 53 58 55 56 61 65 73 75 63 58 51
      51 60 Source 1: NOAA[82] Source 2: Temperature extreme in Toscana[83]
      Demographics 'People of Rome' redirects here. For the ancient Roman
      political concept, see SPQR. For the 2003 film, see People of Rome (film).
      See also: Demographics of Italy Rome (comune) age-sex pyramid in 2022
      Historical population Year Pop. ±% 1861 194,500 — 1871 212,432 +9.2% 1881
      273,952 +29.0% 1901 422,411 +54.2% 1911 518,917 +22.8% 1921 660,235 +27.2%
      1931 930,926 +41.0% 1936 1,150,589 +23.6% 1951 1,651,754 +43.6% 1961
      2,188,160 +32.5% 1971 2,781,993 +27.1% 1981 2,840,259 +2.1% 1991 2,775,250
      −2.3% 2001 2,663,182 −4.0% 2011 2,617,175 −1.7% 2021 2,770,226 +5.8%
      Source: ISTAT, 2022 By 550 BC, Rome was the second largest city in Italy
      after only Taras (modern Taranto) on the Salento Peninsula.[citation
      needed] It had an area of about 285 ha (700 acres) and an estimated
      population of 35,000. Other sources suggest the population was just under
      100,000 from 600 to 500 BC.[84][85] When the Republic was founded in 509
      BC the census recorded a population of 130,000.[86] The republic included
      the city itself and the immediate surroundings. Other sources suggest a
      population of 150,000 in 500 BC. It surpassed 300,000 by 150
      BC.[87][88][89][90][91] The size of the city at the time of the Emperor
      Augustus is a matter of speculation, with estimates based on grain
      distribution, grain imports, aqueduct capacity, city limits, population
      density, census reports, and assumptions about the number of unreported
      women, children and slaves providing a very wide range. Glenn Storey
      estimates 450,000 people, Whitney Oates estimates 1.2 million, Neville
      Morely provides a rough estimate of 800,000 and excludes earlier
      suggestions of 2 million.[92][93][94][95] Estimates of the city's
      population towards and after the end of the Roman empire also vary. A.H.M.
      Jones estimated the population at 650,000 in the mid-fifth century. The
      damage caused by the sackings may have been overestimated. The population
      had already started to decline from the late fourth century onward,
      although around the middle of the fifth century it seems that Rome
      continued to be the most populous city of the two parts of the Empire.[96]
      According to Krautheimer it was still close to 800,000 in 400 AD; had
      declined to 500,000 by 452, and dwindled to perhaps 100,000 in 500 AD.
      After the Gothic Wars, 535–552, the population may have dwindled
      temporarily to 30,000. During the pontificate of Pope Gregory I (590–604),
      it may have reached 90,000, augmented by refugees.[97] Lancon estimates
      500,000 based on the number of 'incisi' enrolled as eligible to receive
      bread, oil and wine rations; the number fell to 120,000 in the reform of
      419.[98] Neil Christie, citing free rations for the poorest, estimated
      500,000 in the mid-fifth century and still a quarter of a million at the
      end of the century.[99] Novel 36 of Emperor Valentinian III records 3.629
      million pounds of pork to be distributed to the needy at 5 lbs. per month
      for the five winter months, sufficient for 145,000 recipients. This has
      been used to suggest a population of just under 500,000. Supplies of grain
      remained steady until the seizure of the remaining provinces of North
      Africa in 439 by the Vandals, and may have continued to some degree
      afterwards for a while. The city's population declined to less than 50,000
      people in the Early Middle Ages from 700 AD onward. It continued to
      stagnate or shrink until the Renaissance.[100] When the Kingdom of Italy
      annexed Rome in 1870, the city had a population of about 225,000. Less
      than half the city within the walls was built up in 1881 when the
      population recorded was 275,000. This increased to 600,000 by the eve of
      World War I. The Fascist regime of Mussolini tried to block an excessive
      demographic rise of the city but failed to prevent it from reaching one
      million people by the early 1930s.[citation needed][clarification needed]
      Population growth continued after the Second World War, helped by a
      post-war economic boom. A construction boom also created many suburbs
      during the 1950s and 1960s. In mid-2010, there were 2,754,440 residents in
      the city proper, while some 4.2 million people lived in the greater Rome
      area (which can be approximately identified with its administrative
      metropolitan city, with a population density of about 800 inhabitants/km2
      stretching over more than 5,000 km2 (1,900 sq mi)). Minors (children ages
      18 and younger) totalled 17.00% of the population compared to pensioners
      who number 20.76%. This compares with the Italian average of 18.06%
      (minors) and 19.94% (pensioners). The average age of a Roman resident is
      43 compared to the Italian average of 42. In the five years between 2002
      and 2007, the population of Rome grew by 6.54%, while Italy as a whole
      grew by 3.56%.[101] The current[when?] birth rate of Rome is 9.10 births
      per 1,000 inhabitants compared to the Italian average of 9.45
      births.[citation needed] The urban area of Rome extends beyond the
      administrative city limits with a population of around 3.9 million.[102]
      Between 3.2 and 4.2 million people live in the Rome metropolitan
      area.[103][104][105][106][107] Origin groups Piazza Santa Maria Maggiore,
      in the Esquilino rione According to the 2011 statistics conducted by
      ISTAT,[108] approximately 9.5% of the population consists of non-Italians.
      About half of the immigrant population consists of those of various other
      European origins (chiefly Romanian, Polish, Ukrainian, and Albanian)
      numbering a combined total of 131,118 or 4.7% of the population. The
      remaining 4.8% are those with non-European origins, chiefly Filipinos
      (26,933), Bangladeshis (12,154), and Chinese (10,283). The Esquilino
      rione, off Termini Railway Station, has evolved into a largely immigrant
      Iberian Peninsula and Dacia developed languages which derive directly from
      Latin and were adopted in large areas of the world, all through cultural
      influence, colonisation and migration. Moreover, also modern English,
      because of the Norman Conquest, borrowed a large percentage of its
      vocabulary from the Latin language. The Roman or Latin alphabet is the
      most widely used writing system in the world used by the greatest number
      of languages.[111] The medieval Roman dialect belonged to the southern
      family of Italian dialects, and was thus much closer to the Neapolitan
      language than to the Florentine.[112][113] A typical example of Romanesco
      of that period is Vita di Cola di Rienzo [it] ("Life of Cola di Rienzo"),
      written by an anonymous Roman during the 14th century.[112] Starting with
      the 16th century, the Roman dialect underwent a stronger and stronger
      influence from the Tuscan dialect (from which modern Italian derives)
      starting with the reigns of the two Medici popes (Leo X and Clement VII)
      and with the Sack of Rome in 1527, two events which provoked a large
      immigration from Tuscany.[114][115] Therefore, current Romanesco has
      grammar and roots that are rather different from other dialects in Central
      Italy.[115] Religion Main article: Religion in Rome See also: Vatican City
      and History of the Jews in Rome Archbasilica of Saint John Lateran, Rome's
      Cathedral, built in 324, and partly rebuilt between 1660 and 1734 One of
      the Seven Pilgrim Churches of Rome, Santa Maria Maggiore is the city's
      largest Catholic Marian church. Celebration of the 2777th Natale di Roma
      at the Circus Maximus Much like the rest of Italy, Rome is predominantly
      Christian, and the city has been an important centre of religion and
      pilgrimage for centuries, the base of the ancient Roman religion with the
      pontifex maximus and later the seat of the Vatican and the pope. Before
      the arrival of the Christians in Rome, the Religio Romana (literally, the
      "Roman Religion") was the major religion of the city in classical
      antiquity. The first gods held sacred by the Romans were Jupiter, the Most
      High, and Mars, the god of war, and father of Rome's twin founders,
      Romulus and Remus, according to tradition. Other deities such as Vesta and
      Minerva were honoured. Rome was also the base of several mystery cults,
      such as Mithraism. Later, after St Peter and St Paul were martyred in the
      city, and the first Christians began to arrive, Rome became Christian, and
      the Old St. Peter's Basilica was constructed in 313 AD. Despite some
      interruptions (such as the Avignon papacy), Rome has for centuries been
      the home of the Roman Catholic Church and the Bishop of Rome, otherwise
      known as the Pope. Despite the fact that Rome is home to the Vatican City
      and St. Peter's Basilica, Rome's cathedral is the Archbasilica of Saint
      John Lateran, in the south-east of the city centre. There are around 900
      churches in Rome in total. Aside from the cathedral itself, some others of
      note include the Basilica di Santa Maria Maggiore, the Basilica of Saint
      Paul Outside the Walls, the Basilica di San Clemente, San Carlo alle
      Quattro Fontane and the Church of the Gesù. There are also the ancient
      Catacombs of Rome underneath the city. Numerous highly important religious
      educational institutions are also in Rome, such as the Pontifical Lateran
      University, Pontifical Biblical Institute, Pontifical Gregorian
      University, and Pontifical Oriental Institute. Since the end of the Roman
      Republic, Rome is also the centre of an important Jewish community,[116]
      which was once based in Trastevere, and later in the Roman Ghetto. There
      lies also the major synagogue in Rome, the Tempio Maggiore. The territory
      of Vatican City is part of the Mons Vaticanus (Vatican Hill), and of the
      adjacent former Vatican Fields, where St. Peter's Basilica, the Apostolic
      Palace, the Sistine Chapel, and museums were built, along with various
      other buildings. The area was part of the Roman rione of Borgo until 1929.
      Being separated from the city on the west bank of the Tiber, the area was
      a suburb that was protected by being included within the walls of Leo IV,
      later expanded by the current fortification walls of Paul III, Pius IV,
      and Urban VIII. When the Lateran Treaty of 1929 that created the Vatican
      state was being prepared, the boundaries of the proposed territory were
      influenced by the fact that much of it was all but enclosed by this loop.
      Rome has been a major Christian pilgrimage site since the Middle Ages.
      People from all over the Christian world visit Vatican City, within the
      city of Rome, the seat of the papacy. The city became a major pilgrimage
      site during the Middle Ages. Apart from brief periods as an independent
      this date, the Roman chronology derived its system, known by the Latin
      phrase Ab Urbe condita, meaning "from the founding of the City", which
      counted the years from this presumed foundation. Panorama of St. Peter's
      Square St. Peter's Square in Vatican City Government See also: Mayor of
      Rome, City Council of Rome, Elections in Rome, and Administrative
      subdivisions of Rome Palazzo Senatorio, seat of the municipality of Rome.
      It has been a town hall since 1144, making it the oldest town hall in the
      world.[121] Palazzo del Quirinale, current seat of the President of the
      Italian Republic Rome constitutes a comune speciale, named "Roma
      Capitale",[122] and is the largest both in terms of land area and
      population among the 8,101 comuni of Italy. It is governed by a mayor and
      a city council. The seat of the comune is the Palazzo Senatorio on the
      Capitoline Hill, the historic seat of the city government. The local
      administration in Rome is commonly referred to as "Campidoglio", the
      Italian name of the hill. Palazzo Senatorio, seat of the municipality of
      Rome, has been a town hall since AD 1144, making it the oldest town hall
      in the world.[121] Since 1972, the city has been divided into
      administrative areas, called municipi (sing. municipio) (until 2001 named
      circoscrizioni).[123] They were created for administrative reasons to
      increase decentralisation in the city. Each municipio is governed by a
      president and a council of twenty-five members who are elected by its
      residents every five years. The municipi frequently cross the boundaries
      of the traditional, non-administrative divisions of the city. The municipi
      were originally 20, then 19,[124] and in 2013, their number was reduced to
      15.[125] Rome is also divided into differing types of non-administrative
      units. The historic centre is divided into 22 rioni, all of which are
      located within the Aurelian Walls except Prati and Borgo. These originate
      from the 14 regions of Augustan Rome, which evolved in the Middle Ages
      into the medieval rioni.[126] In the Renaissance, under Pope Sixtus V,
      they again reached fourteen, and their boundaries were finally defined
      under Pope Benedict XIV in 1743. Rome is the principal town of the
      Metropolitan City of Rome, operative since 1 January 2015. The
      Metropolitan City replaced the old provincia di Roma, which included the
      city's metropolitan area and extends further north until Civitavecchia.
      The Metropolitan City of Rome is the largest by area in Italy. At 5,352
      km2 (2,066 sq mi), its dimensions are comparable to the region of Liguria.
      Moreover, the city is also the capital of the Lazio region.[127] Rome is
      the national capital of Italy and is the seat of the Italian Government.
      The official residences of the President of the Italian Republic and the
      Italian Prime Minister, the seats of both houses of the Italian Parliament
      and that of the Italian Constitutional Court are located in the historic
      centre. The state ministries are spread out around the city; these include
      the Ministry of Foreign Affairs, which is located in Palazzo della
      Farnesina near the Olympic stadium. International relations FAO
      headquarters in Rome, Circo Massimo Among the global cities, Rome is
      unique in having two sovereign entities located entirely within its city
      limits, the Holy See, represented by the Vatican City State, and the
      territorially smaller Sovereign Military Order of Malta. The Vatican is an
      enclave of the Italian capital city and a sovereign possession of the Holy
      See, which is the Diocese of Rome and the supreme government of the Roman
      Catholic Church. For this reason, Rome has sometimes been described as the
      capital of two states.[128][129] Rome is the seat of the so-called "Polo
      Romano" made up by three main international agencies of the United
      Nations: the Food and Agriculture Organization (FAO), the World Food
      Programme (WFP) and the International Fund for Agricultural Development
      (IFAD).[130] Rome has traditionally been involved in the process of
      European political integration. The Treaties of the EU are located in
      Palazzo della Farnesina. In 1957 the city hosted the signing of the Treaty
      of Rome, which established the European Economic Community (predecessor to
      the European Union), and also played host to the official signing of the
      proposed European Constitution in July 2004. Rome is the seat of the
      European Olympic Committee and of the NATO Defense College. The city is
      the place where the Statute of the International Criminal Court and the
      European Convention on Human Rights were formulated. The city hosts also
      other important international entities such as the IDLO (International
      Development Law Organisation), the ICCROM (International Centre for the
      Study of the Preservation and Restoration of Cultural Property) and the
      UNIDROIT (International Institute for the Unification of Private Law).
      Twin towns and sister cities See also: List of twin towns and sister
      cities in Italy Since 9 April 1956, Rome is exclusively and reciprocally
      twinned only with: France Paris, France, 1956 Solo Parigi è degna di Roma;
      solo Roma è degna di Parigi. (in Italian) Seule Paris est digne de Rome;
      seule Rome est digne de Paris. (in French) "Only Paris is worthy of Rome;
      only Rome is worthy of Paris."[131][132][133][134][135] Rome's other
      partner cities are:[136] Achacachi, Bolivia[136] Algiers, Algeria[136]
      Beijing, China[137][138] Belgrade, Serbia[136] Brasília, Brazil[136]
      Buenos Aires, Argentina[136] Cairo, Egypt[136] Cincinnati, United
      States[136] Kyiv, Ukraine[136] Kobanî, Syria[139] Kraków, Poland[140]
      Madrid, Spain[141] Multan, Pakistan[142] New Delhi, India[136] New York
      City, United States[143] Plovdiv, Bulgaria[136] Seoul, South
      Korea[144][145] Sydney, Australia[136] Tirana, Albania[146][147] Tehran,
      Iran[136] Tokyo, Japan[148] Tongeren, Belgium[136] Tunis, Tunisia[149]
      Washington, D.C., United States[150] Yerevan, Armenia[151] Economy Main
      article: Economy of Rome Palazzo Eni, in the EUR business district, is the
      headquarters of Eni, considered one of the world's oil and gas
      "supermajors".[152] Enel's headquarters in Rome, the second largest power
      company in the world by revenue after the State Grid Corporation of
      China.[153] Orizzonte Europa, BNL headquarters in Rome As the capital of
      Italy, Rome hosts all the principal institutions of the nation, including
      the Presidency of the Republic, the government (and its single Ministeri),
      the Parliament, the main judicial Courts, and the diplomatic
      representatives of all the countries for the states of Italy and Vatican
      City. Many international institutions are located in Rome, notably
      cultural and scientific ones, such as the American Institute, the British
      School, the French Academy, the Scandinavian Institutes, and the German
      Archaeological Institute. There are also specialised agencies of the
      United Nations, such as the Food and Agriculture Organization (FAO). Rome
      also hosts major international and worldwide political and cultural
      organisations, such as the International Fund for Agricultural Development
      (IFAD), World Food Programme (WFP), the NATO Defence College, and the
      International Centre for the Study of the Preservation and Restoration of
      Cultural Property (ICCROM). According to the GaWC study of world cities,
      Rome is a "Beta +" city.[154] The city was ranked in 2014 as 32nd in the
      Global Cities Index, the highest in Italy.[155] With a 2005 GDP of €94.376
      billion (US$121.5 billion),[156][needs update] the city produces 6.7% of
      the national GDP (more than any other single city in Italy), and its
      unemployment rate, lowered from 11.1% to 6.5% between 2001 and 2005, is
      now one of the lowest rates of all the European Union capital cities.[156]
      Rome's economy grows at around 4.4% annually and continues to grow at a
      higher rate in comparison to any other city in the rest of the
      country.[156] This means that were Rome a country, it would be the world's
      52nd richest country by GDP, near to the size to that of Egypt. Rome also
      had a 2003 GDP per capita of €29,153 (US$37,412), which was second in
      Italy (after Milan), and is more than 134.1% of the EU average GDP per
      thanks to the Cinecittà studios, working since the 1930s. The city is also
      a centre for banking and insurance as well as electronics, energy,
      transport, and aerospace industries. Numerous international companies and
      agencies headquarters, government ministries, conference centres, sports
      venues, and museums are located in Rome's principal business districts:
      the Esposizione Universale Roma (EUR); the Torrino (further south from the
      EUR); the Magliana; the Parco de' Medici-Laurentina and the so-called
      Tiburtina-valley along the ancient Via Tiburtina. Tourism Main articles:
      Tourism in Rome and List of tourist attractions in Rome Fontana della
      Barcaccia in Piazza di Spagna, the Spanish Steps and Trinità dei Monti
      Piazza Navona As of 2022, the Vatican Museums are the second most visited
      art museum in the world.[162] Rome today is one of the most important
      tourist destinations of the world, due to the incalculable immensity of
      its archaeological and artistic treasures, as well as for the charm of its
      unique traditions, the beauty of its panoramic views, and the majesty of
      its magnificent "villas" (parks). Among the most significant resources are
      the many museums – Capitoline Museums, the Vatican Museums and the
      Galleria Borghese and others dedicated to modern and contemporary art –
      aqueducts, fountains, churches, palaces, historical buildings, the
      monuments and ruins of the Roman Forum, and the Catacombs. Rome is the
      third most visited city in the EU, after London and Paris, and receives an
      average of 7–10 million tourists a year, which sometimes doubles on holy
      years. The Colosseum (4 million tourists) and the Vatican Museums (4.2
      million tourists) are the 39th and 37th (respectively) most visited places
      in the world, according to a recent study.[163] Rome is a major
      archaeological hub, and one of the world's main centres of archaeological
      research. There are numerous cultural and research institutes located in
      the city, such as the American Academy in Rome,[164] and The Swedish
      Institute at Rome.[165] Rome contains numerous ancient sites, including
      the Forum Romanum, Trajan's Market, Trajan's Forum,[166] the Colosseum,
      and the Pantheon, to name but a few. The Colosseum, arguably one of Rome's
      most iconic archaeological sites, is regarded as a wonder of the
      world.[167][168] Rome contains a vast collection of art, sculpture,
      fountains, mosaics, frescos, and paintings, from all different periods.
      Rome first became a major artistic centre during ancient Rome, with forms
      of important Roman art such as architecture, painting, sculpture and
      mosaic work. Metal-work, coin die and gem engraving, ivory carvings,
      figurine glass, pottery, and book illustrations are considered to be
      side. Education Sapienza University of Rome. It was founded in 1303 and is
      as such one of the world's oldest universities,[176] and with 122,000
      students, it is the largest university in Europe.[177] Rome is a
      nationwide and major international centre for higher education, containing
      numerous academies, colleges and universities. It boasts a large variety
      of academies and colleges, and has always been a major worldwide
      intellectual and educational centre, especially during Ancient Rome and
      the Renaissance, along with Florence.[178] According to the City Brands
      Index, Rome is considered the world's second most historically,
      educationally and culturally interesting and beautiful city.[179] Rome has
      many universities and colleges. Its first university, La Sapienza (founded
      in 1303), is one of the largest in the world, with more than 140,000
      students attending; in 2005 it ranked as Europe's 33rd best
      university[180] and in 2013 the Sapienza University of Rome ranked as the
      62nd in the world and the top in Italy in its World University
      Rankings.[181] and has been ranked among Europe's 50 and the world's 150
      best colleges.[182] In order to decrease the overcrowding of La Sapienza,
      two new public universities were founded during the last decades: Tor
      Vergata in 1982, and Roma Tre in 1992. Rome hosts also the LUISS School of
      Government,[183] Italy's most important graduate university in the areas
      of international affairs and European studies as well as LUISS Business
      School, Italy's most important business school. Rome ISIA was founded in
      1973 by Giulio Carlo Argan and is Italy's oldest institution in the field
      of industrial design. Biblioteca Casanatense Rome contains many pontifical
      universities and other institutes, including the British School at Rome,
      the French School in Rome, the Pontifical Gregorian University (the oldest
      noted for excellence in the arts and sciences.[188] Culture Main article:
      Culture in Rome Architecture This section is an excerpt from Architecture
      of Rome.[edit] The architecture of Rome over the centuries has greatly
      developed from Ancient Roman architecture to Italian modern and
      contemporary architecture. Rome was once the world's main epicentres of
      Classical architecture, developing new forms such as the arch, the dome
      and the vault. The Romanesque style in the 11th, 12th and 13th centuries
      was also widely used in Roman architecture, and later the city became one
      of the main centres of Renaissance and Baroque architecture.[189] Rome's
      cityscape is also widely Neoclassical and Fascist in style. The Palazzo
      della Civiltà Italiana in EUR district Fountains and aqueducts Main
      often, due to their status, covered with placards or graffiti expressing
      political ideas and points of view. Other statues in the city, which are
      not related to the talking statues, include those of the Ponte
      Sant'Angelo, or several monuments scattered across the city, such as that
      to Giordano Bruno in the Campo de'Fiori. Obelisks and columns Main
      article: List of obelisks in Rome Flaminio Obelisk, Piazza del Popolo The
      city hosts eight ancient Egyptian and five ancient Roman obelisks,
      together with a number of more modern obelisks; there was also formerly
      (until 2005) an ancient Ethiopian obelisk in Rome.[192] The city contains
      some of obelisks in piazzas, such as in Piazza Navona, St Peter's Square,
      Piazza Montecitorio, and Piazza del Popolo, and others in villas, thermae
      parks and gardens, such as in Villa Celimontana, the Baths of Diocletian,
      and the Pincian Hill. Moreover, the centre of Rome hosts also Trajan's and
      Antonine Column, two ancient Roman columns with spiral relief. The Column
      of Marcus Aurelius is located in Piazza Colonna and it was built around
      180 AD by Commodus in memory of his parents. The Column of Marcus Aurelius
      was inspired by Trajan's Column at Trajan's Forum, which is part of the
      Imperial Fora.[193] Bridges Main article: List of bridges in Rome Ponte
      Vittorio Emanuele II at sunset The city of Rome contains numerous famous
      bridges which cross the Tiber. The only bridge to remain unaltered until
      today from the classical age is Ponte dei Quattro Capi, which connects the
      Isola Tiberina with the left bank. The other surviving – albeit modified –
      ancient Roman bridges crossing the Tiber are Ponte Cestio, Ponte
      Sant'Angelo and Ponte Milvio. Considering Ponte Nomentano, also built
      during ancient Rome, which crosses the Aniene, currently there are five
      ancient Roman bridges still remaining in the city.[194] Other noteworthy
      bridges are Ponte Sisto, the first bridge built in the Renaissance above
      Roman foundations; Ponte Rotto, actually the only remaining arch of the
      ancient Pons Aemilius, collapsed during the flood of 1598 and demolished
      at the end of the 19th century; and Ponte Vittorio Emanuele II, a modern
      bridge connecting Corso Vittorio Emanuele and Borgo. Most of the city's
      public bridges were built in Classical or Renaissance style, but also in
      Baroque, Neoclassical and Modern styles. According to the Encyclopædia
      Britannica, the finest ancient bridge remaining in Rome is the Ponte
      Sant'Angelo, which was completed in 135 AD, and was decorated with ten
      statues of the angels, designed by Bernini in 1688.[195] Catacombs
    </p>
  </div>
  <app-footer></app-footer>
</div>
