.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}
.content {
  flex: 1; // to take the all remaining spaces between header and footer
  overflow: auto;
}

// app-header,
// app-footer {
//     flex-shrink: 0;
// }
