.search {
    &_wrapper {
        display: flex;
        height: 44px;
        padding: 1px 8px;
        margin-top: 10px;
        margin-right: 15px;
        float: right;
        align-items: center;
        gap: 4px;
        width: fit-content;
        border-radius: 8px;
        border: 1px solid #95979a; 
    }

}
::ng-deep #searchBox{
    input{
        background: inherit;
        border: none;
    }
    .p-inputtext:focus, .p-inputtext{
        font-size: 15px;
        box-shadow: none;
        color: #fff;
    }
}
::ng-deep #searchIcon{
    color: #fff;
}