<div class="card" [pTooltip]="gameContent" tooltipStyleClass="gameCardToolTip" tooltipPosition="left">
  <div class="card-body">
    <h3 class="card-title">{{ game.gameName }}</h3>
    <!-- <p class="card-price">Price: ${{ game.gamePrice }}</p>
      <p class="card-details">Studio: {{ game.gameOwner.companyName }}</p>
      <p class="card-genre">Genre: {{ game.gameGenere }}</p>
      <button (click)="onViewDetails()">View Details</button> -->
  </div>
</div>
<ng-template #gameContent>
  <div class="game-details">
    <h4>Price: ${{ game.gamePrice }}</h4>
    <p>Studio: {{ game.gameOwner.companyName }}</p>
    <p>Genre: {{ game.gameGenre }}</p>
  </div>
</ng-template>
